<head>
<title>List of Issues in <%= repo1 %> Repository</title>
</head>
<h1>Github pull requests</h1>
    <div id="root">
        <% for(let i=0;i< tmp.length ;i++){ %>
            <h2><%= tmp[i] %></h2>
        <%}%>
    </div>
